<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Got To Test</h1>
    <form asp-controller="loginAndRegistration" asp-action="SimplePost" method="post">
        <input type="text" asp-for="name">
        <input type="submit">
    </form>
</body>
</html>